.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: $container-padding-y $container-padding-x;
    width: 350px;
}