.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: $container-padding-y $container-padding-x;
    width: 30%;
    border: 1px solid $color-base;
    border-radius: 10px;

    h1 {
        @include heading(28px);
        text-align: center;
        margin-bottom: 15px;
    }

    & > input {
        height: 60px;
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-bottom: 1px solid $color-base;
        outline: none;
    }

    .forgot {
            color: $primary-color;
    }
    
    .or {
            text-align: center;
    }  
}

.login-btn {
    @include btn-variant($primary-color, transparent, $primary-color)
}

.register-btn {
    @include btn-variant(white, $primary-color, $primary-color)
}